html, body {
    margin: 0;
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    background-image: url(https://img.freepik.com/free-vector/white-clean-hexagonal-medical-concept_1017-29801.jpg?w=2000);
    background-size: cover;
    font-family: 'Orbitron', sans-serif;
}

#title{
    position: fixed;
    left: 50%;
    top: 4%;
    transform: translateX(-50%);
    width: 88%;
}
   
h1{
    font-size: 7vw;
    color: #106fa1eb;
    /* color: rgb(90, 89, 89); */
    text-shadow: 3px 3px 10px rgb(88, 88, 88)
}

div {
    width: auto;
    height: fit-content;
}

canvas {
   border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    border-color: black;
    box-shadow: 25px 25px 21px darkgrey;
}
#animators {
    position: fixed;
    top: 92%;
    left: 69%;
}

#canvasdiv {    
    position: fixed;
    top: 50%;
    left: 38%;
    transform: translate(-50%, -50%);
}

.button {
    font-size: larger;
    font-family: Courier New;
    margin: 5px;
    border: none;
    background-color: #d3d3d3;
    border-radius: 7px;
    box-shadow: 6px 6px 5px darkgrey
}

#links{
    display: flex;
    position: fixed;
    bottom: -17%;
    left: 50%;
    transform: translateX(-50%);
}

#links button{
    display: flex;
    border: none;
    background-color: transparent;
    cursor: pointer;
    
}

#links img{
    align-items: flex-end;
    float: left;
    width:  50px;
    height: 50px;
    object-fit: cover;
}

#animationspeed {
    position: fixed;
    font-family: 'Courier New', Courier, monospace;
    font-size: 21px;
    top: 115.5%;
    left: 50.75%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

#legenddiv {position: fixed;
    position: fixed;
    top: 50%;
    right: -52%;
    transform: translate(-50%, -50%);
}

#legendtxt {
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    position: fixed;
    top: 2%;
    left: 49%;
    transform: translateX(-50%);
}

.legend{
    position: fixed;
    display: inline;
    font-family:  Courier New;
    font-size: 20px;
    color: black;
}

#legendkeys{
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 30%;
    left: 13%;
}

.hex{
    font-size: 50px;
}

#legendstart{
    top: 33.5%;
    left: 27.5%;
}

#legendend{
    top: 42%;
    left: 27.5%;
}